<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head('Поиск модели | Автосалон')"/>

<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar" class="mb-3">NAVIGATION</div>

<main>
    <div class="text-center align-items-center justify-content-center">
        <div class="container">
            <h1>
                Результаты поиска
            </h1>

            <div th:if="${#lists.isEmpty(searchResults)}">
                <p>По вашему запросу ничего не найдено.</p>
            </div>

            <ul class="list-group">
                <li th:each="model : ${searchResults}" class="list-group-item d-flex justify-content-between align-items-center">
                    <span th:text="${model.name}"></span>
                    <div class="mt-1">
                        <a th:href="@{/models/details/{id}(id=${model.id})}" class="btn btn-primary">
                            Подробнее
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer"></footer>
</body>
</html>